@keyframes SplashingAnimation {
    0% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(-50px, -50px);
    }
    50% {
        transform: translate(50px, 50px);
    }
    75% {
        transform: translate(-50px, -50px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.hero-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.dots {
    position: absolute;
    width: 75%;
    animation: SplashingAnimation 0.8s;
}

.hero {
    width: 100%;
    background-image: url('../../../assets/hero.jpg');
    height: 100vh;
    padding-inline: 50px;
    padding-top: 50px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: end;
    background-size: cover;
    background-repeat: repeat;
}

.hero-box {
    width: 70%;
    height: 70vh;
    background-image: url('../../../assets/slider-bg-floral.webp');
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.hero-box h2 {
    font-size: calc(var(--h1) + 20px);
    font-weight: calc(var(--fw) + 100);
    color: var(--blue);
    text-align: center;
    line-height: 60px;
}

.hero-box span {
    font-size: calc(var(--h1) + 50px);
    font-weight: calc(var(--fw) + 100);
    color: var(--blue);
    text-align: center;
}

.hero-people {
    width: 30vw;
    height: 30vh;
    background-image: url('../../../assets/people-button.webp');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}