@keyframes cardImageAnimation {
    0% {
        transform: translate(0px);
    }
    25% {
        transform: translate(-5px);
    }
    50% {
        transform: translate(5px);
    }
    75% {
        transform: translate(-5px);
    }
    100% {
        transform: translate(0px);
    }
}

.age-container {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding-bottom: 80px;
    background-image: url('../../../assets/moo.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 22%;
}

.age-row-1 {
    display: flex;
    justify-content: start;
    padding-inline: 13vw;
}

.age-row-1 h1 {
    font-size: calc(var(--h1) + 200px);
    font-weight: calc(var(--fw) - 200);
    font-family: var(--ff-secondary);
    color: var(--blue);
    text-align: start;
    /* animation: AgeHeadingEntryAnimation 2s;
    animation-timeline: scroll(root block); */
}

.age-row-2 {
    display: flex;
    justify-content: end;
    padding-inline: 13vw;
}

.age-row-2 h1 {
    font-size: calc(var(--h1) + 20px);
    font-weight: calc(var(--fw) + 100);
    color: var(--blue);
}

.age-row-3 {
    display: flex;
    gap: 18px;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-inline: 5vw;
}

.age-card {
    width: 16vw;
    border-radius: 40px;
    padding: 20px;
    padding-block: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    mask: url('../../../assets/age-svg.svg') no-repeat center;
    cursor: pointer;
    text-decoration: none;
}

#age-card-1 {
    background-color: var(--orange-light);
}

#age-card-1 h2, #age-card-1 label {
    color: var(--orange);
}

#age-card-1 .vantam-eye {
    border-color: var(--orange);
}

#age-card-2 {
    background-color: var(--blue-lighter);
}

#age-card-2 h2, #age-card-2 label {
    color: var(--blue-green);
}

#age-card-2 .vantam-eye {
    border-color: var(--blue-green);
}

#age-card-3 {
    background-color: var(--gold-light);
}

#age-card-3 h2, #age-card-3 label {
    color: var(--gold);
}

#age-card-3 .vantam-eye {
    border-color: var(--gold);
}

#age-card-4 {
    background-color: var(--green-light);
}

#age-card-4 h2, #age-card-4 label {
    color: var(--green-dark);
}

#age-card-4 .vantam-eye {
    border-color: var(--green-dark);
}

.age-card h2 {
    font-size: var(--h2);
    font-weight: calc(var(--fw) + 100);
    color: var(--blue);
    text-align: center;
}

.age-card img {
    width: 100%;
    mask: url('../../../assets/age-image.svg') no-repeat center;
}

.age-card img:hover {
    animation: cardImageAnimation 0.8s;
}

.age-card p {
    font-size: calc(var(--h4) + 1px);
    font-weight: calc(var(--fw) - 300);
    line-height: 20px;
    text-align: center;
    color: var(--blue);
}

.age-card label {
    font-size: calc(var(--h4) - 2px);
    font-weight: calc(var(--fw) - 200);
    line-height: 20px;
    text-align: center;
}

.vantam-eye {
    display: flex;
    align-items: center;
    mask: url('../../../assets/small_dot.svg');
    background-color: var(--white);
    border: 13px solid transparent;
    border-radius: 50%;
}

.inner {
    display: flex;
    align-items: center;
    mask: url('../../../assets/small_dot.svg');
    background-color: var(--white);
    padding: 7px;
    border-radius: 50%;
}

.inner a {
    background-color: var(--black);
    border-radius: 50%;
    padding: 4px;
}

@media screen and (max-width: 1024px) {
    .age-row-3 {
        display: flex;
        gap: 10px;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-inline: 2vw;
    }
    
    .age-card {
        width: 25%;
    }
}

@media screen and (max-width: 768px) {
    .age-container {
        background-size: 40%;
    }

    .age-row-1 {
        padding-inline: 7vw;
    }
    
    .age-row-1 h1 {
        font-size: calc(var(--h1) + 70px);
    }
    
    .age-row-2 {
        justify-content: start;
        padding-inline: 5vw;
    }
    
    .age-row-2 h1 {
        font-size: calc(var(--h1) + 10px);
    }
    
    .age-row-3 {
        padding-inline: 4vw;
    }
    
    .age-card {
        width: 40%;
        border-radius: 40px;
        padding: 20px;
        padding-block: 20px;
    }
}

@media screen and (max-width: 440px) {
    .age-row-1 {
        padding-inline: 10vw;
    }
    
    .age-row-1 h1 {
        animation: none;
    }

    .age-row-2 {
        padding-left: 7vw;
    }
    
    .age-row-2 h1 {
        font-size: calc(var(--h1) + 7px);
        line-height: 45px;
    }
    
    .age-card {
        width: 80%;
    }
}