@keyframes TitleWalkingAnimation {
    from {
        transform: translateX(-500px);
    }

    to {
        transform: translateX(350px);
    }
}

@keyframes SnailWalkingAnimation {
    from {
        transform: translateX(800px);
    }

    to {
        transform: translateX(-300px);
    }
}

.schedule {
    padding-block: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.schedule-row-1 h1 {
    font-size: calc(var(--h1) + 200px);
    font-weight: calc(var(--fw) - 200);
    color: var(--blue);
    font-family: var(--ff-secondary);
    margin-inline: 100px;
    animation: TitleWalkingAnimation 2s;
    animation-timeline: scroll(root block);
}

.schedule-row-2 {
    display: flex;
    gap: 100px;
    padding-left: 20vw;
}

@keyframes manWalikingAnimation {
    from {
        transform: translateX(-400px);
    }

    to {
        transform: translateX(150px);
    }
}

.schedule-row-2 img {
    animation: manWalikingAnimation 2s;
    animation-timeline: scroll(root block);
}

.schedule-row-2-col-2 {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.schedule-row-3-col .animated {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding-left: 30px;
}

.schedule-row-2-col-2 h1 {
    font-size: calc(var(--h1) + 15px);
    font-weight: calc(var(--fw) + 100);
    color: var(--blue);
}

.schedule-row-2-col-2 p {
    font-size: calc(var(--h3));
    font-weight: calc(var(--fw) - 300);
    line-height: 25px;
}

.button-group {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.schedule-row-3 {
    width: 85%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-image: url('../../../assets/path.svg');
    background-size: auto;
    margin-inline: auto;
    margin-top: -70px;
}

.schedule-row-3>* {
    margin-top: -80px;
}

.schedule-row-3-col {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-left: 50px;
}

.schedule-row-3-col-2 .animated img {
    animation: rotateInDownRight 0.4s;
    padding-right: 30px;
    margin-top: 15px;
}

@keyframes rotateInDownLeft {
    from {
        transform-origin: left bottom;
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0;
    }

    to {
        transform-origin: left bottom;
        transform: none;
        opacity: 1;
    }
}

.leaf_2 {
    width: 50%;
    animation: rotateInDownLeft 0.4s;
}

@keyframes rotateInDownRight {
    0% {
        transform-origin: right bottom;
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
    }

    100% {
        transform-origin: right bottom;
        transform: none;
        opacity: 1;
    }
}

.leaf_1 {
    animation:  0.4s ease-in;
}

.schedule-row-4 {
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.schedule-row-4 h2 {
    font-size: calc(var(--h3) + 4px);
    font-weight: calc(var(--fw) + 100);
    color: var(--blue);
    line-height: 25px;
}

.animated {
    padding-inline: 50px;
    text-align: start;
}

.schedule-row-5 {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.snail {
    width: 30%;
    animation: SnailWalkingAnimation 2s;
    animation-timeline: scroll(root block);
}

@media screen and (max-width: 1024px) {
    .snail {
        width: 50%;
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .schedule-row-1 h1 {
        font-size: calc(var(--h1) + 100px);
        margin-inline: 50px;
        animation: none;
    }

    .schedule-row-2 {
        padding-inline: 40px;
        gap: 70px;
    }

    .schedule-row-2 img {
        width: 40%;
        animation: none;
    }

    .schedule-row-2-col-2 {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .schedule-row-2-col-2 h1 {
        font-size: calc(var(--h1) + 5px);
        line-height: 40px;
    }

    .schedule-row-2-col-2 p {
        font-size: calc(var(--h4) + 1px);
        line-height: 23px;
        color: var(--grey-dark);
    }

    .schedule-row-4 {
        padding-inline: 20px;
        gap: 15px;
        column-gap: 230px;
        justify-content: start;
        flex-wrap: wrap;
    }

    .schedule-row-4 h2 {
        font-size: var(--h3);
    }

    .button-group {
        flex-direction: column;
        gap: 5px;
        align-items: start;
    }

    .animated {
        text-align: center;
    }

    .snail {
        width: 50%;
        margin: auto;
    }

    .schedule-row-3 {
        margin-top: -40px;
    }

    .schedule-row-3>* {
        margin-top: -70px;
    }

    .schedule-row-3-col {
        padding-left: 30px;
    }

    .schedule-row-3-col-2 img {
        margin-top: -50px;
        margin-right: -50px;
    }

    .snail {
        animation: none;
    }
}

@media screen and (max-width: 440px) {
    .schedule-row-1 h1 {
        font-size: calc(var(--h1) + 50px);
        margin-inline: 20px;
    }

    .schedule-row-2 {
        padding-inline: 20px;
        flex-direction: column-reverse;
        align-items: center;
        gap: 25px;
    }

    .schedule-row-2 img {
        width: 50%;
        animation: none;
    }

    .schedule-row-2-col-2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .schedule-row-2-col-2 h1 {
        font-size: calc(var(--h1) + 4px);
        line-height: 40px;
    }

    .schedule-row-2-col-2 p {
        font-size: calc(var(--h4) + 1px);
        line-height: 23px;
        color: var(--grey-dark);
    }

    .schedule-row-4 {
        padding-inline: 20px;
        gap: 10px;
        column-gap: 0px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .schedule-row-4 h2 {
        font-size: calc(var(--h4) + 1px);
    }

    .button-group {
        flex-direction: column;
        gap: 5px;
        align-items: start;
    }

    .animated {
        text-align: center;
    }

    .snail {
        width: 70%;
        margin: auto;
    }

    .schedule-row-3 {
        width: 80%;
        justify-content: space-between;
        margin-top: -40px;
    }

    .schedule-row-3>* {
        margin-top: -70px;
    }

    .schedule-row-3-col {
        padding-left: 0px;
    }

    .schedule-row-3-col-2 img {
        margin-top: -50px;
        margin-right: -120px;
    }

    .snail {
        animation: none;
    }
}