@keyframes testimonialEntryAnimation {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

.testimonial {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.testimonial h1 {
    font-size: calc(var(--h1) + 200px);
    font-weight: calc(var(--fw) - 200);
    font-family: var(--ff-secondary);
    color: var(--blue);
    padding-inline: 11.9vw;
    animation: testimonialEntryAnimation 1s;
    transform-origin: left;
    animation-timeline: scroll(root block);
}

.testimonial-row {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    padding-inline: 40px;
}

.testimonial-col-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
}

.testimonial-col-1 .react-multiple-carousel__arrow--left {
    background-color: transparent !important;
    position: absolute;
}

.testimonial-col-1 .react-multiple-carousel__arrow--left::before {
    content: "\e824";
    color: var(--white) !important;
    font-weight: calc(var(--fw) + 300) !important;
}

.testimonial-col-1 .react-multiple-carousel__arrow--right {
    background-color: transparent !important;
}

.testimonial-col-1 .react-multiple-carousel__arrow--right::before {
    content: "\e825";
    color: var(--white) !important;
    font-weight: calc(var(--fw) + 300) !important;
}

.presentation-slider .react-multiple-carousel__arrow {
    z-index: 10 !important;
}

.testimonial-col-1 img:first-child {
    margin-bottom: -10px;
}

.testimonial-col-1 img:last-child {
    margin-top: -10px;
}

.testimonial-col-2 {
    display: flex;
    gap: 20px;
}

.testimonial-col-2-part-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.testimonial-col-2 h2 {
    font-size: calc(var(--h1) + 15px);
    font-weight: calc(var(--fw) + 100);
    color: var(--blue);
    line-height: 40px;
}

.testimonial-carousel {
    width: 30vw;
    border: 20px solid var(--blue);
    border-radius: 40px;
}

.slide {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.slide p {
    font-size: var(--h2);
    font-weight: var(--fw);
    color: var(--white);
}

@media screen and (max-width: 1200px) {
    .testimonial-row {
        padding-inline: 0px;
    }
    
    .testimonial-col-1 {
        width: 50vw;
    }
    
    .testimonial-col-2-part-2 {
        display: none;
    }

    .slide {
        height: 200px;
    }
}

@media screen and (max-width: 768px) {
    .testimonial {
        gap: 0px;
    }
    
    .testimonial-row {
        padding-inline: 0px;
        gap: 30px;
        margin-top: -140px;
        align-items: center;
    }
    
    .testimonial-col-1 img:first-child {
        width: 80%;
        margin-bottom: -10px;
    }
    
    .testimonial-col-1 img:last-child {
        width: 80%;
        margin-top: -10px;
    }

    .testimonial h1 {
        font-size: calc(var(--h1) + 100px);
        animation: none;
        text-align: end;
        padding-inline: 0px;
    }

    .testimonial-carousel {
        width: 40vw;
    }

    .testimonial-col-1 {
        width: 50vw;
        align-items: center;
    }
    
    .testimonial-col-2 {
        gap: 20px;
        margin-top: 120px;
    }

    .testimonial-col-2 h2 {
        font-size: calc(var(--h1) + 2px);
        line-height: 30px;
        padding-right: 30px;
    }

    .testimonial-col-2 p {
        font-size: calc(var(--h4) + 1px);
        line-height: 20px;
    }

    .testimonial-col-3 {
        display: none;
    }

    .slide {
        height: 180px;
    }

    .slide p {
        font-size: calc(var(--h2) - 4px);
        font-weight: var(--fw);
        color: var(--white);
    }
}

@media screen and (max-width: 440px) {
    .testimonial {
        gap: 20px;
        padding-inline: 20px;
    }
    
    .testimonial-row {
        gap: 10px;
        margin-top: 0px;
        flex-direction: column;
        align-items: center;
    }
    
    .testimonial-col-1 img:first-child {
        width: 85%;
    }
    
    .testimonial-col-1 img:last-child {
        width: 85%;
    }

    .testimonial h1 {
        font-size: calc(var(--h1) + 52px);
        text-align: center;
        padding-inline: 0px;
    }

    .testimonial-carousel {
        width: 100%;
    }

    .testimonial-col-1 {
        width: 85%;
        align-items: center;
    }
    
    .testimonial-col-2 {
        gap: 0px;
        margin-top: 20px;
        align-items: end;
    }

    .testimonial-col-2-part-2 {
        display: block;
    }

    .testimonial-col-2-part-2 img {
        width: 100%;
    }

    .testimonial-col-2 h2 {
        font-size: calc(var(--h1) + 2px);
        line-height: 30px;
        padding-right: 0px;
    }

    .testimonial-col-2 p {
        font-size: calc(var(--h4) + 1px);
        line-height: 20px;
    }

    .slide {
        height: 180px;
    }

    .slide p {
        font-size: calc(var(--h2) - 4px);
        font-weight: var(--fw);
        color: var(--white);
    }
    
    /* .testimonial {
        padding: 10px;
        gap: 10px;
    }
    
    .testimonial h1 {
        font-size: calc(var(--h1) + 50px);
    }
    
    .testimonial-row {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-inline: 10px;
    }
    
    .testimonial-carousel {
        width: 80vw;
    }

    .slide {
        height: 220px;
    }

    .testimonial-col-2 h2 {
        font-size: calc(var(--h1) + 2px);
        line-height: 30px;
    }

    .testimonial-col-2 p {
        font-size: calc(var(--h4) + 1px);
        color: var(--grey-dark);
        line-height: 25px;
    } */
}