@keyframes testimonialEntryAnimation {
    from {
        transform: translateX(200px) scale(1.2);
    }
    to {
        transform: translateX(0px) scale(1);
    }
}

.testimonial {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.testimonial h1 {
    font-size: calc(var(--h1) + 200px);
    font-weight: calc(var(--fw) - 200);
    font-family: var(--ff-secondary);
    color: var(--blue);
    padding-inline: 10vw;
    animation: testimonialEntryAnimation 1s;
}

.testimonial-row {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    padding-inline: 40px;
}

.testimonial-col-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
}

.testimonial-col-1 img:first-child {
    margin-bottom: -10px;
}

.testimonial-col-1 img:last-child {
    margin-top: -10px;
}

.testimonial-col-2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.testimonial-col-2 h2 {
    font-size: calc(var(--h1) + 15px);
    font-weight: calc(var(--fw) + 100);
    color: var(--blue);
    line-height: 40px;
}

.testimonial-carousel {
    width: 30vw;
    border: 20px solid var(--blue);
    border-radius: 40px;
}

.slide {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.slide p {
    font-size: var(--h2);
    font-weight: var(--fw);
    color: var(--white);
}

@media screen and (max-width: 1200px) {
    .testimonial-col-3 {
        display: none;
    }

    .slide {
        height: 200px;
    }
}

@media screen and (max-width: 768px) {
    .testimonial h1 {
        font-size: calc(var(--h1) + 100px);
        font-family: var(--ff-secondary);
        color: var(--blue);
        padding-inline: 10vw;
    }
    .slide {
        height: 180px;
    }
}

@media screen and (max-width: 440px) {
    .testimonial {
        padding: 10px;
    }
    
    .testimonial h1 {
        font-size: calc(var(--h1) + 50px);
    }
    
    .testimonial-row {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-inline: 10px;
    }
    
    .testimonial-carousel {
        width: 80vw;
    }

    .slide {
        height: 220px;
    }
}