/* Catamaran Font */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Syne:wght@400..800&display=swap');

/* Sensei Font */
@import url('https://fonts.cdnfonts.com/css/sensei');

@keyframes headingEntryAnimation {
    from {
        transform: translateX(300px) scale(1.2);
    }
    to {
        transform: translateX(0px) scale(1);
    }
}

:root {
    --ff-primary: 'Catamaran', sans-serif;
    --ff-secondary: 'Sensei', serif;
    --h1: 28px;
    --h2: 24px;
    --h3: 18px;
    --h4: 15px;
    --fw: 700;
    --orange: #E74C25;
    --orange-light: #FFDBD2;
    --blue: #0A303A;
    --blue-green: #167287;
    --blue-light: #11A5E4;
    --blue-lighter: #DFF8FF;
    --purple: #6572AE;
    --green: #38BC83;
    --green-dark: #5E9F5A;
    --green-light: #E6F9E5;
    --gold: #F68F29;
    --gold-light: #FFEFDF;
    --white: #FFFFFF;
    --black: #000000;
    --grey: #6b6b6b;
    --grey-light: #EDEDED;
    --mask:
        radial-gradient(39.6px at 50% calc(100% - 56px), #000 99%, #0000 101%) calc(50% - 56px) 0/112px 100%,
        radial-gradient(39.6px at 50% calc(100% + 28px), #0000 99%, #000 101%) 50% calc(100% - 28px)/112px 100% repeat-x;
    --box-mask:
        radial-gradient(32.02px at 50% calc(100% - 45px), #000 99%, #0000 101%) calc(50% - 50px) 0/100px 100%,
        radial-gradient(32.02px at 50% calc(100% + 20px), #0000 99%, #000 101%) 50% calc(100% - 25px)/100px 100% repeat-x;
    --news-mask:
        radial-gradient(33.63px at 50% 47.5px, #000 99%, #0000 101%) calc(50% - 50px) 0/100px 51% repeat-x,
        radial-gradient(33.63px at 50% -22.5px, #0000 99%, #000 101%) 50% 25px/100px calc(51% - 25px) repeat-x,
        radial-gradient(33.63px at 50% calc(100% - 47.5px), #000 99%, #0000 101%) calc(50% - 50px) 100%/100px 51% repeat-x,
        radial-gradient(33.63px at 50% calc(100% + 22.5px), #0000 99%, #000 101%) 50% calc(100% - 25px)/100px calc(51% - 25px) repeat-x;
}

* {
    font-family: var(--ff-primary);
    padding: 0px;
    margin: 0px;
}

html, body {
    overflow-x: hidden;
} 