/* Catamaran Font */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Syne:wght@400..800&display=swap');

/* Sensei Font */
@import url('https://fonts.cdnfonts.com/css/sensei');

:root {
    --ff-primary: 'Catamaran', sans-serif;
    --ff-secondary: 'Sensei', serif;
    --h1: 28px;
    --h2: 24px;
    --h3: 18px;
    --h4: 15px;
    --fw: 700;
    --orange: #E74C25;
    --blue: #0A303A;
    --purple: #6572AE;
    --green: #38BC83;
    --gold: #A79201;
    --blue-light: #11A5E4;
    --white: #FFFFFF;
    --black: #000000;
    --grey: #6b6b6b;
    --grey-light: #e2e2e2;
    --mask:
        radial-gradient(38.42px at 50% calc(100% - 54px), #000 99%, #0000 101%) calc(50% - 60px) 0/120px 100%,
        radial-gradient(38.42px at 50% calc(100% + 24px), #0000 99%, #000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
}

* {
    font-family: var(--ff-primary);
    padding: 0px;
    margin: 0px;
}