@keyframes dotBouncing {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	50% {
		transform: translateY(-25px) scale(1.2);
	}

	75% {
		transform: translateY(-30px) scale(1);
	}

    100% {
		transform: translateY(-20px);
	}
}

@keyframes openMobileMenuAnimation {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

.top {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    gap: 0px;
    z-index: 99;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 15px;
    padding-inline: 25px;
    background-color: var(--white);
}

.header-start {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.menuSVG {
    display: none;
    cursor: pointer;
}

.header-menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

.header-menu ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    text-decoration: none;
    color: var(--blue);
    font-weight: calc(var(--fw) + 100);
}

#home > svg {
    color: var(--orange);
}

#home .svg {
    display: none;
}

#home .svg.show {
    display: block;
}

#about > svg {
    color: var(--blue);
}

#about .svg {
    display: none;
}

#about .svg.show {
    display: block;
}

#programs > svg {
    color: var(--purple);
}

#programs .svg {
    display: none;
}

#programs .svg.show {
    display: block;
}

#admissions > svg {
    color: var(--green);
}

#admissions .svg {
    display: none;
}

#admissions .svg.show {
    display: block;
}

#parents > svg {
    color: var(--gold);
}

#parents .svg {
    display: none;
}

#parents .svg.show {
    display: block;
}

#location > svg {
    color: var(--blue-light);
}

#location .svg {
    display: none;
}

#location .svg.show {
    display: block;
}

.header-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header-end svg {
    color: var(--blue-green);
}

.link {
    text-decoration: none;
    color: var(--blue-green);
    font-weight: var(--fw);
    padding-block: 0px;
    cursor: pointer;
}

.link:hover {
    color: var(--orange);
}

.horizontal-waves {
    padding: 22px;
    mask: var(--mask);
    background-color: var(--white);
}

.header-menu svg {
    animation: dotBouncing 0.5s ease 0s 1 normal forwards;
    display: block;
    position: absolute;
}

.mobile-menu {
    width: 100%;
    padding-inline: 20px;
    margin-top: 5vh;
    position: absolute;
    background-color: var(--white);
    animation: openMobileMenuAnimation 0.4s;
    transform-origin: top;
}

.mobile-menu.hidden {
    display: none;
}

.mobile-menu ul {
    padding: 10px;
    background-color: var(--white);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    list-style: none;
}

.mobile-menu ul li a {
    font-size: calc(var(--h3) + 2px);
    font-weight: var(--fw);
    color: var(--black);
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    .header-menu {
        display: none;
    }

    .menuSVG {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 25px;
    }
    
    .header-menu {
        display: none;
    }

    .menuSVG {
        display: block;
    }

    .horizontal-waves {
        display: none;
    }
}

@media screen and (max-width: 440px) {
    .header {
        flex-wrap: wrap;
    }

    .mobile-menu {
        width: 100%;
        padding-inline: 20px;
        margin-top: 30%;
        position: absolute;
        background-color: var(--white);
        animation: openMobileMenuAnimation 0.4s;
        transform-origin: top;
    }
}